@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

/* font-family: 'Inter', sans-serif;
font-family: 'Merriweather', serif; */

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Inter', sans-serif;
}

h2 {
    font-family: 'Merriweather', serif;
}

.common-section {
    width: 82.5%;
    max-width: 1320px;
    margin: 0 auto 150px;
}


/* Welcome Banner */
.welcome-banner {
    background-image: url('../resources/banner-img.png');
    /* brightness of the background image has been changed externally using gimp */
    background-size: cover;
    border-radius: 16px;
    background-repeat: no-repeat;
    height: 600px;
    margin-top: 50px;

    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
}

header h3 {
    font-family: 'Merriweather', serif;
    font-size: 32px;
    font-weight: 400;
    color: #ffffff;
    text-align: center;
}

.banner-title {
    color: white;
    font-size: 72px;
    font-weight: 900;
    text-align: center;
    padding-left: 20%;
    padding-right: 20%;
}


/* offer section */
.offer-section {
    text-align: center;
}

.offer-section h3 {
    color: red;
    font-size: 88px;
    margin-bottom: 50px;
}

.offer-section h6 {
    font-size: 24px;
    font-weight: 500;
    color: red;
    margin-bottom: 15px;
}

.offer-section p {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 48px;
}

#offer-section img {
    width: 50%;
}


/* midnight party section */

.party-section {
    background-image: url('../resources/Vectorrr.png');
    /* brightness of the background image has been changed externally using gimp */
    background-size: cover;
    border-radius: 16px;
    background-repeat: no-repeat;
    height: 600px;

    display: flex;
    align-items: center;
    /* gap: 50px; */
}

.party-section h2 {
    text-align: left;
    padding: 0;
    font-size: 64px;
    width: 60%;
    margin-bottom: 25px;
    margin-left: 126px;
}

.party-section p,
.holiday-sale-p {
    color: rgba(255, 255, 255, 0.80);
    width: 70%;
    margin-bottom: 40px;
    margin-left: 126px;
}

.join-now-btn {
    margin-left: 156px;
    border: none;
    color: white;
    font-size: 16px;
    font-weight: 600;
    background-color: none;
    background-color: transparent;
    cursor: pointer;
    padding: 13px;
    border: 1px white solid;
    border-radius: 5px;
    transition: .25s;
}

.join-now-btn:hover {
    background-color: white;
    color: black;
}

.party-section-img {
    margin-right: 126px;
}


/* party book center */
.party-book-section {
    height: 482px;
    text-align: center;
    background-image: linear-gradient(rgba(255, 0, 0, 0.10), transparent);
    border-radius: 20px;
}

.party-book-section p {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 18px;
}

.party-book-section p:first-child {
    padding-top: 100px;
}

.party-book-section p span {
    color: red;
}

.party-book-section button {
    background-color: red;
    margin: 0;
    margin-top: 25px;
}

.party-book-section button:hover {
    background-color: white;
    border: 1px solid red;
    color: red;
}


/* coming soon section */
.coming-soon-section {
    display: flex;
    gap: 70px;
    align-items: center;
}

.coming-soon-section h4 {
    color: #F00;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 20px;
}


.eclipse-image {
    width: 70%;
    border: 15px solid #F00;
    padding: 3%;
    border-radius: 300px;
    margin-right: 3%;
}

.left-text p:first-child {
    color: red;
    text-align: left;
    padding: 0;
}

.left-text h2 {
    color: #070211;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    margin-bottom: 22px;
}
.coming-soon-p {
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    margin-bottom: 20px;
}

/* holiday sale section */

.holiday-sale-p {
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
}

.section-question {
    color: #070211;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 17px;
}

.holiday-sale-h-two {
    color: #070211;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;

    margin-bottom: 20px;
}

.holiday-sale-h-two span {
    color: red;
}

.section-question,
.holiday-sale-h-two {
    text-align: center;
}

.holiday-sale-banner {
    display: flex;
}

.col-one {
    background-image: url(../resources/Rectangle\ 2.png);
    background-repeat: no-repeat;
    width: 50%;
    background-position: left bottom;
}

.col-one img {
    width: 100%;
    padding-left: 50px;
    padding-top: 10%;
}

.col-two {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.col-two .row-one {
    height: 433px;
    background-image: url('../resources/Rectangle\ 1.png');
    background-repeat: no-repeat;
    background-position: right;
    flex-grow: 1;
}

.col-two .row-one img {
    padding-left: 80px;
}

.col-two .row-two {
    height: 229px;
    background-color: red;
    border-radius: 0 0 20px 0;
}


/* our awesome portfolio section */
.awesome-portfolio h4 {
    color: #F00;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 10px;
}

.awesome-portfolio h2 {
    color: #070211;
    font-size: 48px;
    font-weight: 900;
    padding: 0;
    text-align: left;
    margin-bottom: 20px;
}

.awesome-portfolio p {
    width: 70%;
    margin-bottom: 50px;
}

.portfolio-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
}

.portfolio-item {
    width: 32%;
    transition: .25s;
    border-radius: 20px;
}

.portfolio-item:hover {
    transform: scale(1.05);
    box-shadow: 0px 10px 24px -4px rgba(3, 3, 3, 0.726);
}


/* newsletter section */
.newsletter-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding-top: 130px;
    padding-bottom: 130px;
    background-color: rgba(255, 0, 0, 0.05);
    border-radius: 20px;

}

.newsletter-section img {
    width: 9.375%;
}

.newsletter-section h2 {
    text-align: center;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
}

.newsletter-section p {
    margin-bottom: 20px;
}

.newsletter-section form {
    display: flex;
    width: 50%;
}

.newsletter-section input {
    flex-grow: 1;
    border: none;
    padding: 15px 30px 15px;
    border-radius: 30px 0 0 30px;

    font-size: 18px;
    font-weight: 400;
    outline: none;
}

.newsletter-section button {
    padding: 15px 25px 15px;
    border: none;
    border-radius: 0 30px 30px 0;
    background-color: red;
    color: white;
    margin: 0;
    font-size: 20px;
    font-weight: 600;
    transition: .4s;
}

.newsletter-section button:hover {
    background-color: rgb(255, 131, 131);
    color: white;
}


/* footer-section */
.contact {
    display: flex;
    justify-content: space-between;
}

#footer-section {
    background-color: #070211;
}

.footer-section {
    margin-bottom: 0;
}

.footer-section p {
    display: inline;
    color: #FFF;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
}

.contact,
.footer {
    display: flex;
    justify-content: space-between;
    padding-top: 120px;
    padding-bottom: 50px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

.links {
    text-align: center;
    margin: 50px auto 50px;
}

.links>* {
    margin-right: 20px;
}



.footer {
    border-top: 1px solid rgba(255, 255, 255, 0.15);
    padding-bottom: 50px;
    padding-top: 50px;
}

.footer small {
    color: #FFF;
}

.footer button {
    border: none;
}